

<form action="/foods" method="post">
  <input type="text" name="name" placeholder="Name of Food">
  <input type="text" name="description" placeholder="Food Description">
  <input type="text" name="rating" placeholder="Rating">
  <input type="submit" value="Create Food">
</form>